<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/styles.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
</head>
<body>

    <div class="chat">
        <div id="sidebar" class="chat__sidebar">

        </div>
        <div class="chat__main">
            <div id="messages" class="chat__messages"></div>

            <div class="compose">
                <form id="message-form">
                    <input name="message" placeholder="Message" required autocomplete="off">
                    <button>Send</button>
                 </form>
            </div>
        </div>
    </div>

   <script id="message-template" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p>{{message}}</p>
        </div>
   </script>

   <script id="sidebar-template" type="text/html">
    <h2 class="room-title">{{room}}</h2>
    <h3 class="list-title">Users</h3>
    <ul class="users">
        {{#users}}
            <li>{{username}}</li>
        {{/users}}
    </ul>
   </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        //Elements
        const $messageForm = document.querySelector('#message-form');
        const $messageFormInput = $messageForm.querySelector('input');
        const $messageFormButton = $messageForm.querySelector('button');
        const $messages = document.querySelector('#messages')

        //templates
        const messageTemplate = document.querySelector('#message-template').innerHTML
        const sidebarTemplate = document.querySelector('#sidebar-template').innerHTML

        //Options
        const { username, room } = Qs.parse(location.search, { ignoreQueryPrefix: true })

        socket.on('message', (message) => {
            console.log(message);
            const html = Mustache.render(messageTemplate, {
                username: message.username,
                message: message.text,
                createdAt: moment(message.createdAt).format('h:mm a')
            });
            $messages.insertAdjacentHTML('beforeend', html);
        })

        socket.on('roomData', ({room, users}) => {
            const html = Mustache.render(sidebarTemplate, {
                room,
                users
            })   
            document.querySelector('#sidebar').innerHTML = html
        })

       $messageForm.addEventListener('submit', (e) => {
            e.preventDefault(); 

            $messageFormButton.setAttribute('disabled', 'disabled');

            const message = e.target.elements.message.value

            socket.emit('sendMessage', message, (message) => {
                $messageFormButton.removeAttribute('disabled');
                $messageFormInput.value = '';
                $messageFormInput.focus();

                console.log(message);
            })
        })

        socket.emit('join', { username, room }, (error) => {
            if(error) {
                alert(error)
                location.href = '/'
            }
        })

    </script>
</body>
</html>